.input-wrapper {
  box-sizing: border-box;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

  border-bottom: 1px solid var(--blue);
  padding: 8px 2px 7px;

  &:hover,
  &:focus {
    border-color: var(--green);
  }
}

.ghost {
  border-radius: 5px;
  padding: 7px 11px;
  height: 32px;
  border: none;
  background-color: var(--dark-grey);

  &:hover,
  &:focus {
    background-color: var(--light-grey);
    border: none;
  }
}
