.wrapper {
  margin-right: 35px;
  width: 40px;
  transition: width 0.4s;
  background-color: transparent;
  padding: 0;

  &:hover {
    background-color: transparent;
  }
  &:focus {
    margin: 0;
    background-color: transparent;

    &::placeholder {
      visibility: hidden;
    }
    width: 100%;
  }

  &::placeholder {
    text-align: center;
  }
}

.search-wrapper {
  column-gap: 5px;
}
