:root {
    --light-black: #1E1E1E;
    --black: #000000;
    --blue: #3369F3;
    --dark-blue: #0048FF;
    --tile: #E4EDFD;
    --white: #FFFFFF;
    --dark-white: #FBFBFB;
    --grey: #999999;
    --light-grey: #EAEAEA;
    --dark-grey: #EFEFEF;
    --green: #11E344;
    --red: #FF2F2F;
    --dark-red: #BB2A2A;
}
