:root {
  --light-black: #1e1e1e;
  --black: #000000;
  --black-transparent: rgba(0, 0, 0, 0.4);
  --blue: #3369f3;
  --dark-blue: #0048ff;
  --tile: #e4edfd;
  --white: #ffffff;
  --dark-white: #fbfbfb;
  --basic-grey: #8d8d8d;
  --grey: #999999;
  --grey-transparent: rgba(234, 234, 234, 0.38);
  --light-grey: #eaeaea;
  --regular-grey: #f8f8f8;
  --dark-grey: #efefef;
  --green: #11e344;
  --red: #ff2f2f;
  --dark-red: #bb2a2a;
}
