:root {
  --light-black: #1e1e1e;
  --black: #000000;
  --blue: #3369f3;
  --dark-blue: #0048ff;
  --tile: #e4edfd;
  --white: #ffffff;
  --dark-white: #fbfbfb;
  --grey: #999999;
  --light-grey: #eaeaea;
  --dark-grey: #efefef;
  --green: #11e344;
  --red: #ff2f2f;
  --dark-red: #bb2a2a;
}
