.small {
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
}

.medium {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}

.regular {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.large {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
