.wrapper {
  width: fit-content;
  margin: auto;
  row-gap: 21px;
}
.avatar-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--black);
    opacity: 50%;
  }

  img {
    width: inherit;
    height: inherit;
  }
}
