.wrapper {
  text-align: center;
  input[type="file"] {
    display: none;
  }
  label {
    cursor: pointer;
    font-size: 14px;
    color: var(--blue);
    text-decoration: underline;
    text-decoration-color: var(--blue);

    &:hover {
      color: var(--dark-blue);
    }
  }
}
