.label {
  color: var(--grey);
}

.error {
  color: var(--red);
  font-size: 10px;
  line-height: 8px;
  padding-top: 5px;
}

.success {
  color: var(--green);
  font-size: 10px;
  line-height: 8px;
  padding-top: 5px;
}

.md {
  font-size: 14px;
}
