.clickable {
  cursor: pointer;

  &:hover {
    color: var(--light-grey);
  }
}
.small {
  height: 20px;
  width: 20px;
}
.extra-small {
  height: 10px;
  width: 10px;
}
.medium {
  height: 28px;
  width: 28px;
}
.large {
  height: 40px;
  width: 40px;
}

.white {
  color: var(--white);
}
.grey {
  color: var(--grey);
}
