.auth-wrapper {
  min-height: 50%;
  align-items: center;
  justify-content: space-between;
  row-gap: 45px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  background-color: var(--white);
  max-width: 340px;
  box-shadow: 0 1px 9px 0 #807f7f69;
}
.fields-wrapper {
  row-gap: 30px;
  align-items: center;
}
.title {
  margin-bottom: 40px;
}
.action-buttons {

}
