.wrapper {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background-color: var(--dark-grey);
  cursor: pointer;

  &:hover {
    background-color: var(--black);
    opacity: 50%;
  }
}

.input-fields-sm {
  row-gap: 16px;
}

.large {
  height: 130px;
  width: 130px;
  background-color: var(--light-grey);
}
