@import "./common/styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Inter&display=swap");
@import "./common/styles/fonts.scss";
@import "./common/styles/commonStyles.scss";

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

