.auth-wrapper {
  min-height: 450px;
  min-width: 340px;
  align-items: center;
  justify-content: space-between;
  row-gap: 45px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  background-color: var(--white);
  max-width: 340px;
  box-shadow: 0 1px 9px 0 #807f7f69;
  overflow: auto;
}
.fields-wrapper {
  row-gap: 30px;
  align-items: center;
}
.input-fields-sm {
  row-gap: 16px;
}
.title {
  margin-bottom: 40px;
}
.action-buttons {
}
.max-height-signup {
  max-height: calc(100vh - 30vh);
}
